* { box-sizing: border-box; }
body { font-family: sans-serif; color: #333; }
body { text-align: center; margin-top: 50vh; }
.container { display: inline-block; transform: scale(2) translateY(-50%); }
.container { text-align: left; transform-origin: top center; }
.container { min-height: 10em; width: 14em; }
h1 { font-size: 150%; margin-top: 0; margin-bottom: .2ex; }
h2 { font-size: 70%; margin-top: 0; color: gray; }
p, ul { font-size: 70%; }
input { width: 100%; }
.highlight { padding: 1ex 1em; background: #ffc; }
.highlight { text-align: center; font: bold 45% monospace; }
.user img { float: left; margin: 0 1em 1ex 0; }
.user h3 { font-size: 70%; }
