* { box-sizing: border-box; }
body { font: 70% sans-serif; color: #333; }
body { text-align: center; margin-top: 50vh; }
.container { display: inline-block; transform: scale(2) translateY(-50%); }
.container { text-align: left; transform-origin: top center; }
.container { min-height: 16em; width: 20em; }
h1 { font-size: 200%; margin-top: 0; margin-bottom: .2ex; }
h2 { font-size: 100%; margin-top: 0; color: gray; }
input { width: 100%; }
.highlight { padding: 1ex 1em; background: #ffc; text-align: center; }
.highlight small { font-size: 50%; margin-left: .5em; }